/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23/06/2021, 01:14:35 AM
    Author     : Kokox
*/

/*body {
	background: #eeeeee;
}*/
.form-inline {
	display: inline-block;
}
.navbar-header.col {
	padding: 0 !important;
}
.navbar {		
	background: #fff;
	padding-left: 16px;
	padding-right: 16px;
	border-bottom: 1px solid #d6d6d6;
	box-shadow: 0 0 4px rgba(0,0,0,.1);
}
.nav-link img {
	border-radius: 50%;
	width: 36px;
	height: 36px;
	margin: -8px 0;
	float: left;
	margin-right: 10px;
}
.navbar .navbar-brand {
	color: #555;
	padding-left: 0;
	padding-right: 50px;
	font-family: 'Merienda One', sans-serif;
}
.navbar .navbar-brand i {
	font-size: 20px;
	margin-right: 5px;
}
.navbar .nav-item i {
	font-size: 18px;
}
.navbar .dropdown-item i {
	font-size: 16px;
	min-width: 22px;
}
.navbar .nav-item.open > a {
	background: none !important;
}
.navbar .dropdown-menu {
	border-radius: 1px;
	border-color: #e5e5e5;
	box-shadow: 0 2px 8px rgba(0,0,0,.05);
}
.navbar .dropdown-menu a {
	color: #777;
	padding: 8px 20px;
	line-height: normal;
}
.navbar .dropdown-menu a:hover, .navbar .dropdown-menu a:active {
	color: #333;
}	
.navbar .dropdown-item .material-icons {
	font-size: 21px;
	line-height: 16px;
	vertical-align: middle;
	margin-top: -2px;
}
.navbar .badge {
	color: #fff;
	background: #f44336;
	font-size: 11px;
	border-radius: 20px;
	position: absolute;
	min-width: 10px;
	padding: 4px 6px 0;
	min-height: 18px;
	top: 5px;
}
.navbar a.notifications, .navbar a.messages {
	position: relative;
	margin-right: 10px;
}
.navbar a.messages {
	margin-right: 20px;
}
.navbar a.notifications .badge {
	margin-left: -8px;
}
.navbar a.messages .badge {
	margin-left: -4px;
}	
.navbar .active a, .navbar .active a:hover, .navbar .active a:focus {
	background: transparent !important;
}
@media (min-width: 1200px){
	.form-inline .input-group {
		width: 300px;
		margin-left: 30px;
	}
}
@media (max-width: 1199px){
	.form-inline {
		display: block;
		margin-bottom: 10px;
	}
	.input-group {
		width: 100%;
	}
}

/*modificaciones */
.titulo-index{
    text-align: center;
    margin: 1rem;
}

.cajaop{
    border: 5px solid #333;
    border-radius: 25px;
    padding-top: .5rem;
    margin-top: 1rem;
}

.cargando img{
    display: block;
    margin:auto;
    height: auto;
    width: 80px;
}

.cargando{
    visibility: hidden;
}

.render-alerta{
    margin-top: 1rem;
}

/*agregar producto*/
.addproduct-form {
    padding: 50px 50px 0px 50px;
}

.addproduct-form h1 {
    color: #19bc9d;
    font-weight: bold;
    margin: 0 0 15px;
}

.addproduct-form .form-group{
    margin-bottom: 1rem;
}

.addproduct-form .form-control, .addproduct-form .btn {
    min-height: 38px;
    border-radius: 2px;
}
.addproduct-form .form-control:focus {
    border-color: #19bc9d;
}
.addproduct-form .btn-primary, .addproduct-form .btn-primary:active {
    color: #fff;
    min-width: 150px;
    font-size: 16px;
    background: #19bc9d !important;
    border: none;
}
.addproduct-form .btn-primary:hover {
    background: #15a487 !important; 
}
.addproduct-form .btn i {
    margin-right: 5px;
}
.addproduct-form label {
    opacity: 0.7;
}
.addproduct-form textarea {
    resize: vertical;
}
.hint-text {
    font-size: 15px;
    padding-bottom: 20px;
    opacity: 0.6;
}
.bg-login{
    background-image: url("../img/fondo.png");
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.formulario-login{
    width: 90%;
    max-width: 400px;
    z-index:1;
    padding:10px 60px 0px 60px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}
.bg-blanco{
    display: block;
    position: absolute;
    width:100vw;
    height: 100vh;
    z-index:0;
    
}

.form-style{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
}
.bi-file-person, .bi-lock{
    font-size: 25px; 
    color: #B3B3B3;
    margin-right:10px;
    margin-bottom: 3px;
}
.input-container{
    display:flex;
    border-bottom: 1px solid #B3B3B3;
    padding-bottom: 2px;
    width: 100%;
    margin-top:20px;
    margin-bottom:10px;
}
input{
    width:100%;
    outline: 0;
    border:0;
    text-align: left;
    margin-left: 0px;
    background-color: rgba(0,0,0,0);
    font-size: 18px;
    
}
.boton-login{
    text-align: center;
    width:100%;
    height: 45px;
    padding: 20px auto;
    background-color: #5832E0;
    border: 2px #5832E0 solid;
    color: white;
    margin-top: 20px;
    border-radius: 50px;
    margin-left: 0px;
    font-size: 16px;
    font-weight:bold;
    text-transform: uppercase;
}
.boton-login:hover{
    background-color: white;
    color: #5832E0;
    transition-duration: 400ms;
}
.boton-container{
    height:45px;
}
.login-titulo, .logo-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:400px;
}
.logo-container{
    align-items: flex-start;
}
.h1{
    font-size: 2rem;
}
.white{
    color:white;
    margin-bottom: 30px;
}
.logo-container img{
    width:250px;
    margin-top: 50px;
}
.logo-color{
    width: 150px;
    margin-bottom: 5px;
}
.navbar-contenedor{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    
}
.margin-r20{
    margin-right: 20px;
}
.c-gris{
    color:rgba(0,0,0,.9);
}
.c-violet{
    color:#5638C6;
}
.table tr th{
    color: #fff;
}
.table-titulos{
    border-radius: 50px;
}
.borde-s{
    border-top: 1px solid #444;
    padding-top: 20px;
}
.borde-i{
    border-bottom: 1px solid #444;
    padding-bottom: 20px;
    padding-top: 20px;
}
.table-tirulos th{
    color:#fff;
}
.margin-b0{
    margin-bottom: 0;
}

/*Caja de buscar personalizada*/
.height {
    height: 11vh
}

.search {
    position: relative;
    box-shadow: 0 0 40px rgba(51, 51, 51, .1)
}

.search input {
    height: 60px;
    text-indent: 25px;
    border: 2px solid #d6d4d4
}

.search input:focus {
    box-shadow: none;
    border: 2px solid blue
}

.search .fa-search {
    position: absolute;
    top: 20px;
    left: 16px
}

.search button {
    position: absolute;
    top: 5px;
    right: 5px;
    height: 50px;
    width: 110px;
    background: blue
}